/*
* Set something which are globally valid
*/
*{
	padding: 0;
	margin: 0;
}

/* Put it back on certain elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
	margin: 1em 0;
}


html{
	height: 100%;
}

body{
	text-align: center;
	color:#000;
	background: #fff url(../images/body_bg.gif) top repeat-x;;
	font: 80%/1.8 "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
}

pre, code, kbd, tt, samp, tt {
	font-family: "andale mono", monospace;
}



/*****************************************************************************************
*style the sidebar
*****************************************************************************************/
#sidebar{
	width: 80px;
	height: 110px;
	position: fixed;
	top: 200px;
	right: 20px;
	z-index: 9999998;
	//border: 1px solid red;
}

#sidebar img{
	position: absolute;
	-webkit-box-shadow: 3px 3px 6px #666;
	-moz-box-shadow: 3px 3px 6px #666;
	box-shadow: 3px 3px 6px #666;
}




/*****************************************************************************************
*	Style layout. There are three classical layout we can use: fixed-width, liquid, elastic.
*	in this program, we use fixed-width layout
******************************************************************************************/

#wrapper{
	margin: 0 auto;
	margin-top: 13px;
	text-align: left;
	width: 1050px;
	background-color: #EBFFFF;
	min-height: 100%;
	position: relative;
}



/***************************************************************************
* style header section
****************************************************************************/
#header{
	width:100%;
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom-width: 3px;
	border-bottom-color: #858566;
	border-bottom-style: ridge;
}

#header .description{
	margin-left: 40px;
}


/*
* now we try to make the main menu as a drop down menu
*/
#header ul.nav{
	float: left;
}

#header ul.nav, #header ul.nav ul{
	margin: 0;
	list-style: none;
	background-color: #99CC00; /*this color is similar to green*/
}

#header ul.nav a{ 
	text-decoration:none; 
	display:block; 
	color: #2B3F00;
	padding: 0.2em 0.5em;
	border-right: 1px solid #486B02;
	border-left: 1px solid #E4FFD3;
} 

#header ul.nav .arrow{ /*for decorating the "right arrow" */
	float: right;
} 

/* first-level menu */ 
#header>ul.nav>li{ 
	text-align:center;
	float: left;
	width:150px; 
} 

#header ul.nav li li a {
	border-top: 1px solid #E4FFD3;
	border-bottom: 1px solid #486B02;
	border-bottom: 1px solid #486B02;
}

/*set all menu except the first-level to align the text to left*/
#header ul.nav li ul{
	text-align: left;
}

/*second-level menu ul*/
#header>ul.nav>li ul{ 
	display:none; 
	width:178px; 
	position:absolute; 
	background:#c1cd94; 
	box-shadow:2px 2px 2px #000; 
	-webkit-box-shadow:2px 2px 2px #000; 
	-moz-box-shadow:2px 2px 2px #123; 
	z-index: 9999999; //if not add this google map would cover the drop down menu
}

/*equal to or more than third-level style*/
#header>ul.nav>li>ul>li ul{
	left:178px; 
	top:0px;
} 

#header ul.nav li:last-child a {
	border-right: 0;
	border-bottom: 0;
}

#header ul.nav a:hover, #header ul.nav a:focus {
	color: #E4FFD3;
	background-color: #6DA203;
}





/******************************************************************************
* style content section
******************************************************************************/
#content{
	padding-bottom: 167px; //or padding-bottom: 100px;
}

#content ul{
	margin-left: 40px;
}

#content .contact{
	margin: 10px 30px;
	overflow: hidden;
	border-bottom: 1px red dotted;
	padding: 20px 20px;
}

#content .contact img{
	float: left;
}

#content .contact .detail{
	float:left;
	overflow:hidden;
	//border: 1px red solid;
	margin-left: 20px;
	vertical-align: center;
}

#content .contact .detail *{
	margin: 0 0;
	padding: 0 0;
}

#content .person p{
	margin: 20px 20px;
}

#content .description h1, #content .person h4, #content .person h5{
	margin: 0;
	padding: 0;
	margin-left: 5px;
	color: #666666;
}

#content .description, #content .person{
	width: 90%;
	margin: 10px auto;
	padding: 10px 10px;
}

#content .news *{
	margin:0;
	padding: 0;
}
#content .news{
	margin: 30px 30px 30px 30px;
	border-bottom: 1px #666633 dotted;
	padding-bottom: 10px;
	overflow: hidden;
}
#content .news img{
	margin: 0 20px 0 20px;
}

#content .news img, #content .news p{
	float: left;
}




/****************************************************************
*	Style footer section
*****************************************************************/
#footer{
	font-size: 12px;
	background-color: #CDFFCD;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	height: 167px;
	width: 100%;
	//border: 1px solid blue;
}

#footer ul.nav{
	text-align: center;
}

#footer ul.nav li{
	display: inline;
	margin: 0 6px;
}

#footer ul.nav li a{
	text-decoration: none;
}

#footer .note{
	line-height: 7px;
}

#footer .note{
	height: 122px;
	background: url('../img/footer1.png') no-repeat top center;
}